<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id, :disabled => true  %>
  </div>
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tag_ids %> <br />
    <%= f.select :tag_ids, Tag.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

    </div>
  <ul class="field">
    <%= f.fields_for :project_screenshots do |ps| %>
      <li>
        <div class="field">
          <%= ps.label :url %>
          <%= ps.text_field :url %>
        </div>

        <div class="field">
          <%= ps.label :caption %>
          <%= ps.text_area :caption %>
        </div>

         <div class="field">
           <% if ps.object.persisted? %>
              <%= ps.check_box :_destroy %>
              <%= ps.label :_destroy, "Destroy" %>
            <% end %>
        </div>

        </li>

    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
