<%= form_for(@project,  :html => { :class => "form-horizontal"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :id, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :id, :disabled => true, :class => "readonly" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :icon, :class => "control-label"%>
    <div class="controls">
      <%= f.text_field :icon %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows=>5, :cols=>40 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tag_ids, :class => "control-label" %>
    <div class="controls">
      <%= f.select :tag_ids, Tag.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    </div>

    </div>
  <ul class="control-group">
    <%= f.fields_for :project_screenshots do |ps| %>
      <li>
        <div class="field">
          <%= ps.label :url %>
          <%= ps.text_field :url %>
        </div>

        <div class="field">
          <%= ps.label :caption %>
          <%= ps.text_area :caption%>
        </div>

         <div class="field">
           <% if ps.object.persisted? %>
              <%= ps.check_box :_destroy %>
              <%= ps.label :_destroy, "Destroy" %>
            <% end %>
        </div>

        </li>

    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
