<%if signed_in?%>
  <h1>Projects</h1>

  <table class="table">
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th> </th>
    </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.icon %></td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td>
        <% project.tags.each do |tag| %>
        <%= tag.name %>
        <% end %>
      </td>
      <td><%= link_to 'Show', project%></td>
      <td><%= link_to 'Edit', edit_project_path(project), :class => "icon icon-pencil"%></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon icon-trash" %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Project', new_project_path, :class => "btn btn-primary" %>
<%end%>
