
<p>
  <strong>Icon:</strong>
  <%= @project.icon %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
  <% @project.tags.each do |tag| %>
  	<li><%= tag.name %></li>
  <%end%>
  </ul>
</p>

<p>
  <strong>Screenshots:</strong>
  <ul>
  <% @project.project_screenshots.each do |tag| %>
  	<li><%= tag.url %> </li>
  <%end%>
  </ul>
</p>

<%if signed_in?%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%end%>
