<p id="notice"><%= notice %></p>

<p>
  <b>Icon:</b>
  <%= @project.icon %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Tags:</b>
  <% @project.tags.each do |tag| %>
  	<%= tag.name %> 
  <%end%>
</p>

<p>
  <b>Screenshots:</b>
  <% @project.project_screenshots.each do |tag| %>
  	<%= tag.url %> 
  <%end%>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
